html, body{
    margin: 0;
}

div{
    position: relative;
    background: red;
    width: 100%;
    height: 100px;
}

p{
    position: absolute;
    bottom:0;
    margin-bottom: 0;
    font-size: 30px;
    color: white;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}